{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <table id="tblTitulo1" class="table1" width="100%">
                      <tr>
                        <td>
                          <h2><b>&nbsp;&nbsp;Cursos</b></h2></td>
                      </tr>
                    </table>
<hr>
						<div class="card">
							<div class="card-body">


								<div class="row">
									<div class="col-12 col-md-6 offset-md-3">

										<form action="" method="post">

											{% csrf_token  %}	
											<h1>hiola</h1>
											<table>
													<tr>
														<th>Titulo</th>
														<th>Descripcion</th>
														<th>Año</th>
														<th>Precio</th>
														<th>Autor</th>
														<th>Email</th>
														<th>Sucursal</th>

													</tr>
											</table>
											{% for c in cursos %}
											 <tr>
												 <td>{{c.titulo }}</td>
												 <td>{{ c.descripcion }}</td>
												 <td>{{ c.anio }}</td>
												 <td>{{ c.precio }}</td>
												 <td>{{ c.idAutor.first_name }}</td>
												 <td>{{ c.email }}</td>
												 <td>{{ c.idSucursal.nombre }}</td>
											 </tr>

											{% endfor %}

										<div class="d-flex justify-content-center">
											<input type="reset" value="Guardar" class="btn btn-secondary">
											<input type="submit" value="Guardar" class="btn btn-primary">
										</div>



										</form>



									</div>
								</div>



							</div>
						</div>
</div>
</div>
</div>
</section>
